<div style="text-align:center">
  <h1>
    Create Trader Acount
  </h1>
</div>
<div class="container">
<h2>Input Trade Credentials Here:</h2>
<form class="forms" action="/#" method="POST">
<label for="username">Trader Username</label><br>
<input type="text" name="username" [(ngModel)]="user.username" placeholder="Enter Username"><br>
<label for="password">Password</label><br>
<input type="password" name="password1" [(ngModel)]="user.password1" placeholder="Enter Password"><br>
<label for="password">Confirm Password</label><br>
<input type="password" name="password2" [(ngModel)]="user.password2" placeholder="Enter Password Again"><br><br>
<input type="submit" id="submitBtn" (click)="registerUser()" value="Create Credentials">
</form>
<div>
  {{ clientMessage.message }}
  </div>
</div>